In [4]:
from collections.abc import Sequence
from sklearn import preprocessing
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from tensorflow import keras

In [8]:
# business_dataset = pd.read_json("./yelp_dataset/yelp_academic_dataset_business.json")
from numpy import datetime64
from pandas import Int32Dtype, StringDtype
b_pandas =[]
not_needed=["review_id","user_id","useful","funny","cool"]
r_dtypes = {
    "review_id": StringDtype,
     "user_id" : StringDtype,
     "business_id": StringDtype,
     "stars":Int32Dtype,
     "date": datetime64,
     "text":StringDtype,
     "useful":Int32Dtype,
     "funny" :Int32Dtype,
     "cool":Int32Dtype     
}
with open("./yelp_dataset/yelp_academic_dataset_review.json","r",encoding="utf-8") as f:
    reader = pd.read_json(f,orient="records",lines=True,dtype=r_dtypes,chunksize=1000)
    
    for chunck in reader: 
        reduced_chunk = chunck.drop(columns=not_needed)
        b_pandas.append(reduced_chunk)

b_pandas = pd.concat(b_pandas,ignore_index=True)

In [15]:
df = b_pandas.groupby("business_id")["business_id"].count().reset_index(name='counts')

In [17]:
df = df[df["counts"] >= 20 ]
df.head()

              business_id  counts
0  ---kPU91CF4Lq2-WlRu9Lw      24
5  --8IbOsAAxjKRoYsBFL-PA      27
6  --9osgUCSDUWUkoTLdvYhQ      30
7  --ARBQr1WMsTWiwOKOj-FQ      23
9  --FcbSxK1AoEtEAxOgBaCw      42

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63489 entries, 0 to 150340
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  63489 non-null  object
 1   counts       63489 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [20]:
df.to_csv("Cleaned_review.csv",index=False)